<?xml version="1.0" encoding="UTF-8"?>

<plugin>
    <class>org.jivesoftware.openfire.plugin.JabberBrowsingPlugin</class>
    <name>Jabber Browsing</name>
    <description>This plugin implements the (obsolete!) XEP-0011 'Jabber Browsing' specification for service discovery using the jabber:iq:browse namespace.</description>
    <author>Guus der Kinderen</author>
    <version>${project.version}</version>
    <date>2023-07-24</date>
</plugin>
